/* list item of tiles view*/
.tileview li {
	list-style-type: none;
	width: 170px;
	display: inline-block;
	margin: 15px;
}
.group-column-div {
	height: 100%;
}
.groupColumn {
	display: inline-block;
	top: 0;
	margin: 0;
}
/*list item of group in group view*/
.groupColumn li{
	list-style-type: none;
	width: 100%;
}
