<div id="users">
	<label for="singleSelect"> Choose view: </label><br>
	<select name="layout" ng-model="selectedView" class="form-control" ng-options="item.name for item in items track by item.layout">
	</select>

	<div ng-show="selectedView.layout == 'group'" class="groupview">
		<div class="group-column-div">
			<ul class="groupColumn col-md-2" ng-repeat="i in getGroupsCount(groupsCount) track by $index">
				Group: {{$index + 1}}
				<li ng-repeat="u in users | groupping:$index+1">
					<minitile></minitile>
				</li>
			</ul>
<!-- 			<ul class="groupColumn col-md-2">
				Without group
				<li ng-repeat="u in users | groupping:'unknown'">
					<minitile></minitile>
				</li>
			</ul> -->
		</div>
	</div>
	<ul ng-show="selectedView.layout == 'tile'" class="tileview">
		<li ng-repeat="u in users">
			<tile></tile>
		</li>
	</ul>
	<table ng-show="selectedView.layout == 'list'" class="listview table table-striped table-hover">
		<tr ng-repeat="u in users">
			<td>{{u.full_name}}</td>
			<td>{{u.nickname}}</td>
			<td>{{u.email}}</td>
			<td>{{u.group}}</td>
			<td>{{u.phone}}</td>
		</tr>
	</table>
</div>